# Virtual environments
venv/
env/
.env

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets and Weights
data/
dataset/
ai-service/models/weights/
ai-service/training_logs/
ai-service/venv/
ai-service/swin_transformer/models/weights/
*.pth

# Node modules
frontend/node_modules/
frontend/dist/
.DS_Store


*.pth
*.pt
*.ckpt

training_logs/
test_logs/

node_modules/
.vite/
